@import "reset.css";
@import "general.css";
@import "colors.css";

/* Home */

/* Header */

header {
    background-color: var(--secondary-color);
}

.header-row {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-row ul li{
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline;
}















/* Debug */









/* MEDIAQUERY FOR RESPONIVE */

/* Mobile-First */

/* MOBILE PICCOLO */
@media screen and (min-width: 480px) {

}

/* TABLET */

@media screen and (min-width: 768px) {
    
}

/* DESKTOP */

@media screen and (min-width: 992px) {
    
}